.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.container__info {
  width: 30%;
  padding: 15px;
}
.container__info h2 {
  font-size: 40px;
}
.container__info p {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  line-height: 25px;
  margin-top: 10px;
  font-size: 15px;
}
.container__info p svg {
  color: #ffff00;
}

.embla {
  width: 65%;
  position: relative;
  height: 200px;
  --slide-spacing: 1rem;
  overflow: hidden;
}
.embla__viewport {
  height: 100%;
  width: 85%;
  margin-left: auto;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  height: 100%;
}
.embla__slide {
  flex: 0 0 20%;
  min-width: 0;
  border-radius: 0.8rem;
  overflow: hidden;
  margin-inline: 5px;
  background-color: #fff;
}
.embla__slide--containerImage {
  width: 100%;
  height: 50%;
}
.embla__slide--image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.embla__slide--textContainer {
  text-align: center;
  height: 50%;
  display: grid;
  place-items: center;
}
.embla__slide--text {
  text-transform: uppercase;
  font-size: 13px;
}
.embla__controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 72%;
  left: 11%;
}
.embla__buttons {
  display: flex;
  justify-content: space-between;
}
.embla__button {
  appearance: none;
  background-color: #ffff00;
  touch-action: manipulation;
  display: inline-flex;
  transition: background 0.3s ease-in, color 0.3s ease-in;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.5rem;
  height: 3.5rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:hover {
  background-color: #cccc00;
}
.embla__button:hover .embla__button__svg {
  color: white;
}
.embla__button:disabled {
  visibility: hidden;
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
